<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<%= javascript_include_tag "facebox.js" %>
		<%= stylesheet_link_tag "facebox.css" %>
		<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" %>
		<%= stylesheet_link_tag "default.css" %>
		<%= stylesheet_link_tag "fonts.css"%>

		<style type="text/css">
			body, h3 {
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 100;
				color: #FFF;
			}
		
			#new-wrapper label, #new-wrapper p, #new-wrapper a {
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 100;
				text-align: left;
				color: #FFF;
				font-size: 14px;
			}
			#new-wrapper a:hover {
				font-weight: 300;
			}
			#new-wrapper {
				width: 400px;
				margin-left: auto;
				margin-right: auto;
				margin-top: 50px;
			}
			#new-wrapper input[type="text"], #new-wrapper textarea
			{
				width: 200px;
			}

			#new-wrapper select {
				/*background: #551950;
				color: #FFF;
				border-style: .5px solid #2a0c28;*/
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 300;
				font-size: 14px;
				width: 200px;
			}
		</style>
	</head>	
	<%if flash[:error_menu]%>
		<script type="text/javascript">
			alert("Error adding new menu.");
		</script>
	<%end%>
	<body>
		<%= render :partial => 'banner/banner' %>
		<div id="new-wrapper">
			<h3 style="color: #FFF; font-size: 20px;">Add new Item</h3><hr />
			
			<%= form_for @menu do |f| %>
				<table>
					<tr>
						<td><%= f.label :item_name%></td>
						<td><%= f.text_field :item_name%></td>

					</tr>
					<tr>
						<td><%= f.label :image %></td>
						<td><%= f.file_field :photo%></td>
					</tr>
					<tr>
						<td><%= f.label :price %></td>
						<td><%= f.text_field :price%></td>
					</tr>
					<tr>
						<td><%= f.label :category %></td>
                        <td><%= f.select :category, [['Breakfast', 'breakfast'], ['Lunch','lunch']] %></td>
						<!--<td>-->
							<!--<select>-->
					  			<!--<option value="breakfast">Breakfast</option>-->
					  			<!--<option value="lunch">Lunch</option>-->
							<!--</select>-->
						<!--</td>-->
					</tr>
					<tr>
						<td><%= f.label :description %></td>
						<td><%= f.text_area :description, :size => "30x10" %></td>
					</tr>
				</table>
				<span style="margin-left:12em"><%= f.submit "Add"%></span>
			<% end %>
			
		</div>
	</body>
</html>

