<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<%= javascript_include_tag "facebox.js" %>
		<%= stylesheet_link_tag "facebox.css" %>
		<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" %>
		<%= stylesheet_link_tag "default.css" %>
		<%= stylesheet_link_tag "fonts.css"%>
	</head>	
	<body>
		<%= form_for @menu do |f| %>
		<h3 style="color: #FFF; font-size: 20px;">Add new Item</h3><hr />
		<%= f.label :item_name%><br />
		<%= f.text_field :item_name%><br />
		<%= f.submit "Add"%>
		<% end %>
	</body>
</html>

