<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title></title>
	<%= javascript_include_tag "application.js" %>
	<%= javascript_include_tag "jquery_ujs.js" %>
	<%= javascript_include_tag "facebox.js" %>
	<%= stylesheet_link_tag "facebox.css" %>
	<%= javascript_include_tag :defaults %>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" %>
	<%= stylesheet_link_tag "default.css" %>
	<%= stylesheet_link_tag "fonts.css"%>
	<%= csrf_meta_tags %>
	<%= javascript_include_tag "jquery-1.10.2.js" %>
	<%= javascript_include_tag "jquery-1.7.1.min.js" %>
	<%= javascript_include_tag "jquery.min.js" %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %>
	<%= javascript_include_tag "respond.min.js" %>
	<%= javascript_include_tag "//html5shiv.googlecode.com/svn/trunk/html5.js" %>

	<%= javascript_include_tag "//code.jquery.com/ui/1.10.3/jquery-ui.js" %>

	<%= yield :head %>

		<style>
		  .ui-effects-transfer {
		    border: 1px dotted black;
		  }
		  #addCart {

		  }
		</style>
		<script type="text/javascript">
		  $("#addCart").click(function() {
		    var i = 1 - $( "#addCart" ).index( this );
		    $( this ).effect( "transfer", { to: $( "#right" ).eq( i ) }, 1000 );
		  });
		</script>
	  <style type="text/css">
	  	body, h3 {
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 100;
			color: #FFF;
		}
	
		#show-wrapper label, #show-wrapper p, #show-wrapper a {
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 100;
			text-align: left;
			color: #FFFFFF;
			font-size: 12px;
		}
		#show-wrapper a:hover {
			font-weight: 300;
		}
		#show-wrapper {
			width: 800px;
			margin-left: auto;
			margin-right: auto;
			padding-top: 50px;
			margin-top: 50px;
		}
		#show-wrapper input[type="textbox"] {
			width: 50px;
			padding: 2px 0;
		}

		#show-wrapper input[type="button"] {
			padding: 2px 2px;
			cursor: pointer;
			cursor: hand;
		}
		#show-wrapper table {
			width: 100%;
		}

		#menu-page-header {
			width: 900px;
			margin-left: auto;
			margin-right: auto;
			height: auto;
			margin-bottom: 10px;
			padding-top: 10px;
		}

		#menu-page-header a {
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 100;
			text-align: left;
			color: #FFFFFF;
			font-size: 12px;
			text-decoration: none;
		}

		#menu-page-header a:hover {
			font-weight: 300;
		}

		#menu-page-header .left {
			width: 450px;
			margin-left: 0;
			margin-top: 0;
			float: left;
			text-align: left;
			height: 100%;
		}

		#menu-page-header .right {
			width: 450px;
			margin-top: 0;
			margin-right: 0;
			float: right;
			text-align: right;
			height: 100%;
		}

		#menu-page-header select {
			/*background: #551950;
			color: #FFF;
			border-style: .5px solid #2a0c28;*/
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 300;
			font-size: 13px;
			width: 200px;

		}
	  </style>
	  <script type="text/javascript">
	  $document.ready(function(){
	  	$('#qty').keyup(function(){
        	$('#subamount').html($(this).val());
    	});
	  });
	  </script>
  </head>
  <body>
  <%= render :partial => 'banner/banner' %>
  <div id="menu-page-header">
	<div class="left">
		<% if !current_user %>
			<p>Hello! Guest, Check out our food items.</p>
		<% end %>
		<% if current_user %>
			<% if current_user.role != 'admin' and current_user.phone != '9800000000' %>
				<p>Hello! <%= current_user.name %>, Check out our food items.</p>
			<% end %>
			<% if current_user.role == 'admin' or current_user.phone == '9800000000' %>
				<p>Hello! <%= current_user.name %>
			<% end %>
		<% end %>
		<p>View the food Categories : 
		<select>
			<option value="appetizer">Appetizer</option>
			<option value="breakfast">Breakfast</option>
			<option value="salad">Salad</option>
			<option value="Dessert">Dessert</option>
			<option value="lunch">Lunch</option>
			<option value="tandoori">Tandoori</option>
			<option value="dine">Dine</option>
		</select>
		</p>
	</div>
	<div class="right">
	<p style="text-align: right;">
	<% if current_user %>
		<% if current_user.role != 'admin' and current_user.phone != '9800000000' %>
			You have 0 items on your order list. <br />
			
		<% end %>
	<% end %>
	<%if !current_user %>
		Please <%= link_to "Sign in!", '/pages/login', :rel => 'facebox' %> to order.<br />
		Not registered? <%= link_to "Sign Up!", '/users/new', :rel => 'facebox' %> <br />
		Contact Us: beetle@beetle-developers.com
	<% end %>
	</p>
	</div>
  </div>

  <div id="show-wrapper">
  <h3 style="color: #FFF; font-size: 20px;">Food Menu
  	<%if current_user%>
		<%if current_user.role == 'admin' or current_user.phone == '9800000000'%>
  		<%= link_to ' [Add Food Item]',new_menu_path %>
  		<%end%>
  	<%end%>
  	</h3><hr />
  	
  	<table>
  		<tr>
  			<td>S. No.</td>
  			<td>Food Items</td>
  			<td>Price</td>
  			<%if current_user%>
  				<%if current_user.role != 'admin' and current_user.phone != '9800000000'%>
	  				<td>Quantity</td>	  			
	  				<td>Amount</td>
	  			<%end%>
  			<%end%>

  		</tr>
  		<% @counter = 1 %>
  		<% @menu.each do |menu|%>
  			<tr>
  				<td><%= @counter %></td>
  				<td><%= menu.item_name %><br /></td>
  				<td>Rs. <%= menu.price %></td>
  				<% if current_user %>
  					<%if current_user.role != 'admin' and current_user.phone != '9800000000'%>
		  				<td><input type="textbox" name="quantity" id="qty" /></td>		  		
		  				<td><p id="subamount"></p></td>	  			
		  				<td id="addCart"><a class="custom_button_small" href="#"><span class="icon icon-plus-sign-alt"> 
		  					<%= link_to 'Add To Cart', :controller => 'citems', :action => 'add', :menu => menu%></span></a></td>
		  			<%end%>
		  			<%if current_user.role == 'admin' or current_user.phone == '9800000000'%>
		  				<td style="width: auto;"><%= link_to "edit", edit_menu_path(menu), :rel => 'facebox' %></div></td>
		  				<td style="width: auto;"><%= link_to "delete", menu, method: :delete, data: { confirm: "You sure?" } %></div></td>
		  			<%end%>
	  			<%end%>
  			</tr>
  			<% @counter = @counter + 1 %>
  		<%end%>
  	</table>
  	
  </div>
  </body>
</html>
