<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title></title>
	  <%= javascript_include_tag "application.js" %>
	<%= javascript_include_tag "jquery_ujs.js" %>
	<%= javascript_include_tag "facebox.js" %>
	<%= stylesheet_link_tag "facebox.css" %>
	  <%= javascript_include_tag :defaults %>
	  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" %>
	  <%= stylesheet_link_tag "default.css" %>
	<%= stylesheet_link_tag "fonts.css"%>
	<%= csrf_meta_tags %>

	  <%= yield :head %>
	  <style type="text/css">
	  	body, h3 {
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 100;
			color: #FFF;
		}
	
		#show-wrapper label, #show-wrapper p, #show-wrapper a {
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 100;
			text-align: left;
			color: #FFF;
			font-size: 12px;
		}
		#show-wrapper a:hover {
			font-weight: 300;
		}
		#show-wrapper {
			width: 800px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 50px;
		}
		#show-wrapper input[type="textbox"] {
			width: 50px;
			padding: 2px 0;
		}

		#show-wrapper input[type="button"] {
			padding: 2px 2px;
			cursor: pointer;
			cursor: hand;
		}
		#show-wrapper table {
			width: 100%;
		}

		.addtocart {
			text-align: center;
			padding: 2px 2px;
			background: #2a0c28;
			font-weight: 100;
			cursor: pointer;
			cursor: hand;
			font-family: 'Source Sans Pro', sans-serif;
			border-radius: 5px;
			border-style: none;
		}

		.addtocart:hover {
			font-weight: 300;
		}

		#menu-page-header {
			width: 900px;
			margin-left: auto;
			margin-right: auto;
			height: auto;
			margin-bottom: 10px;
			padding-top: 10px;
		}

		#menu-page-header .left {
			width: 450px;
			margin-left: 0;
			margin-top: 0;
			float: left;
			text-align: left;
		}

		#menu-page-header .right {
			width: 450px;
			margin-top: 0;
			margin-right: 0;
			float: right;
			text-align: right;
		}

		#menu-page-header select {
			/*background: #551950;
			color: #FFF;
			border-style: .5px solid #2a0c28;*/
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 300;
			font-size: 13px;
			width: 200px;

		}
	  </style>
  </head>
  <body>
  <%= render :partial => 'banner/banner' %>
  <div id="menu-page-header">
  	<div class="left">
  		<p>Hello! User, Check out the food items.</p>
  		<p>View the food Categories : 
  		<select>
  			<option value="appetizer">Appetizer</option>
  			<option value="breakfast">Breakfast</option>
  			<option value="salad">Salad</option>
  			<option value="Dessert">Dessert</option>
  			<option value="lunch">Lunch</option>
  			<option value="tandoori">Tandoori</option>
  			<option value="dine">Dine</option>
  		</select>
  		</p>
  	</div>
  	<div id="right">
  		<p style="text-align: right;">You have 0 items on your order list. <br />
  		Contact Us: beetle@beetle-developers.com</p>
  	</div>
  </div>

  <div id="show-wrapper">
  <h3 style="color: #FFF; font-size: 20px;">Food Menu</h3><hr />
  	<table>
  		<tr>
  			<td>Food Items</td>
  			<td>Price</td>
  			<td>Quantity</td>
  			<td>Amount</td>

  		</tr>
  		<% @menu.each do |menu|%>
  			<tr>
  				<td><%= menu.item_name %><br /></td>
  				<td></td>
  				<td><input type="textbox" /></td>
  				<td></td>
  				<td><a class="addtocart" href="#"><span class="icon icon-plus-sign-alt"> Add To Cart</span></a></td>
  				<td style="width: auto;"><%= link_to "edit", edit_menu_path(menu), :rel => 'facebox' %></div></td>
  				<td style="width: auto;"><%= link_to "delete", menu, method: :delete, data: { confirm: "You sure?" } %></div></td>
  			</tr>
  		<%end%>
  	</table>
  	
  </div>
  </body>
</html>
