<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" %>
	<%= stylesheet_link_tag "default.css" %>
	<%= stylesheet_link_tag "fonts.css"%>
	<style type="text/css">
		body, h3 {
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 100;
			color: #FFF;
            background: #333333;
		}

		#list-wrapper label, #list-wrapper p, #list-wrapper a {
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 100;
			text-align: left;
			color: #FFF;
			font-size: 14px;
		}
		#list-wrapper a:hover {
			font-weight: 300;
		}
		#list-wrapper {
			width: 400px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 50px;
		}
		#list-wrapper input[type="text"], #list-wrapper textarea
		{
			width: 200px;
		}

		#list-wrapper select {
			/*background: #551950;
			color: #FFF;
			border-style: .5px solid #2a0c28;*/
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 300;
			font-size: 14px;
			width: 200px;
		}
	</style>
</head>
<body>
<%= render :partial => 'banner/banner' %>
	<div id="list-wrapper">
	<h3 style="font-size: 20px;">User Info</h3><hr />
        name:<span style="margin-left:15px"><%= @user_info.name %> </span><br />
        phone:<span style="margin-left:10px"><%= @user_info.phone %> </span><br />
        email:<span style="margin-left:17px"><%= @user_info.email %> </span><br />

	</div>
</body>
</html>



