<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%= javascript_include_tag "facebox.js" %>
	<%= stylesheet_link_tag "facebox.css" %>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" %>
	<%= stylesheet_link_tag "default.css" %>
	<%= stylesheet_link_tag "fonts.css"%>

</head>
	<h1>Sign Up</h1>

<%= form_for @user do |f| %>
		
		<%= f.label :profile_picture%><br />
		<%= f.file_field :photo%><br />
		<%= f.label :name %><br />
		<%= f.text_field :name %><br />
		<%= f.label :password %>(6-40)<br />
		<%= f.password_field :password %><br />
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation %><br />
		<%= f.label :mobile %><br />
		<%= f.text_field :phone %><br />
		<%= f.label :email %><br />
		<%= f.text_field :email  %><br />
		<div><%= show_simple_captcha(:label => "", :placeholder => "", :code_type => "numeric") %></div>		
		
	<p class="button"><%= f.submit "Sign Up"%></p>
<% end %>
</body>
</html>

