<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%= javascript_include_tag "application.js" %>
	<%= javascript_include_tag "facebox.js" %>
	<%= stylesheet_link_tag "facebox.css" %>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" %>
	<%= stylesheet_link_tag "default.css" %>
	<%= stylesheet_link_tag "fonts.css"%>
	<%= javascript_include_tag :defaults%>
    <%= csrf_meta_tags %>

    <style type="text/css">
    body, h3 {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 100;
		color: #FFF;
	}
	label, p, a {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 100;
		text-align: left;
		color: #FFF;
		font-size: 12px;
	}
	a:hover {
		font-weight: 300;
	}
	#show-wrapper {
		width: 400px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
	}
    </style>


</head>
<body>
<%= render :partial => 'banner/banner' %>
<div id="show-wrapper">
<h3 style="color: #FFF; font-size: 20px;">List of Users</h3><hr />
<% @user.each do |user|%>
	<%= user.phone%><%=link_to ' Edit', edit_user_path(user), :rel => 'facebox' %>
	<%= button_to "delete", user, method: :delete, data: { confirm: "You sure?" } %><br />
<%end%>
</div>
</body>
</html>
