<style type="text/css">
	#edit-user-wrapper {
		width: 400px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
	}
	body, h3 {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 100;
		background: 
	}
	#edit-user-wrapper label, #edit-user-wrapper p {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 100;
		text-align: left;
		color: #FFF;
		font-size: 14px;
	}
</style>
<%= stylesheet_link_tag "default.css" %>
<%= stylesheet_link_tag "fonts.css"%>
<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" %>

<%= render :partial => 'banner/banner' %>
<div id="edit-user-wrapper">
<%= form_for @user, url: welcome_path(@user), method: :patch do |f| %>
		<h3 style="color: #FFF; font-size: 20px;">User Settings</h3><hr />
		<%= f.file_field :photo%><br />
		<%= f.label :name %><br />
		<%= f.text_field :name %><br />
		<%= f.label :mobile %><br />
		<%= f.text_field :phone %><br />
		<%= f.label :email %><br />
		<%= f.text_field :email  %><br />
		
		<%= f.submit "Update"%>
<% end %>
</div>