<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<%= javascript_include_tag "jquery-1.7.1.min.js" %>
<%= javascript_include_tag "jquery.slidertron-1.3.js" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
<%= javascript_include_tag "jquery.sticky.js" %>
<%= javascript_include_tag "facebox.js" %>
<%= javascript_include_tag "tabs.js" %>
<%= stylesheet_link_tag "facebox.css" %>

<%= javascript_include_tag "camera.js" %>
<%= stylesheet_link_tag "camera.css" %>

  <script>
    $(window).load(function(){ 
      $("#menu-area").sticky({ topSpacing: 0 });
    });
  </script>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox({
        loadingImage : '/images/loader.gif',
        closeImage   : '/images/closelabel.png'
      })
    })
  </script>
  <style>
    #menu-area
	{
		z-index: 50;		
		width: 100%;
		height: 72px;
		/**background-color: transparent**/
		background: '#334960';
		box-shadow: 0 8px 30px rgba(0,0,0,.2);
	}
	#sticky
	{
		position: relative;
	  	background: #334960 url('overlay.png') repeat;
      	font-family: Droid Sans;
      	font-size: 14.5px;
      	line-height: 2em;
      	font-weight: bold;
      	text-align: center;
      	padding: 0 20px;
      	text-shadow: 0 1px 1px rgba(0,0,0,.2);
      	width: auto;
      	box-sizing:border-box;
      	box-shadow: 0px -25px 18px rgba(0,0,0,.2);
	}
	#sticky a
	{
		text-decoration: none;
		color: #fff;
	}
	#sticky a:hover
	{
		color: #fff000;
	}
	#sticky-wrapper
	{
		margin: 0 auto;
		width: auto;
		padding: 0 20px;
	}
  </style>
<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" %>
<%= stylesheet_link_tag "default.css" %>
<%= stylesheet_link_tag "fonts.css"%>

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
	
<div id="header-wrapper">
	<div id="sticky-wrapper">
	<div id="sticky" style="margin-top: -41px; margin-left: 10px; float: left;">
		<h4><a href="calender/full_calender" rel='facebox'><img src="/images/set_icons/cart32.png" /></a><%= link_to " Book Now! >>", 'calender/full_calender', :rel => 'facebox' %></h4>
	</div>
	<div id="sticky" style="margin-top: -41px; float: left; margin-left: 10px">
		<h4><img src="/images/set_icons/social/skype.png" /> Call Us: +977-00-0000000</h4>
	</div>
	<div id="sticky" style="margin-top: -41px; float: left; margin-left: 10px">
		<h4>Socials : 
			<a href="#" accesskey="1"><img src="/images/set_icons/social/facebook.png" /></a>
			<a href="#" accesskey="2"><img src="/images/set_icons/social/twitter.png" /></a>
			<a href="#" accesskey="3"><img src="/images/set_icons/social/youtube.png" /></a>
			<a href="#" accesskey="4"><img src="/images/set_icons/social/flickr.png" /></a>
		</h4>
	</div>
	<div id="sticky" style="margin-top: -41px; float: left; margin-left: 10px">
		<h4>
			<a href="#"><img src="/images/set_icons/clipboard32.png" /> View Menu!</a>
		</h4>
	</div>
	<div id="sticky" style='margin-top: -41px; float: left; margin-left: 10px'>
		<h4>
			<a href="#"><img src="/images/set_icons/bubble32.png" /> Feedback!</a>
		</h4>
	</div>
	<div id="sticky" style="margin-top: -41px; margin-left: 10px; float: left;">
		<% if current_user %>
			<div style = "margin-top:10px"><%= link_to current_user.phone, 'welcome/profile', :rel => 'facebox' %></div>
			<%= link_to "Log out", logout_path %>
		<% else %>			
			<h4>
				<% if flash[:error]  %>
					<%= # link_to image_tag("lock-fade.png", alt: "lock-black"), 'pages/login', :rel=>'facebox'			 	
					link_to "Sign in!", 'pages/login', :rel => 'facebox', :style => 'color:red' %>
				<% else %>
					<%= # link_to image_tag("lock-fade.png", alt: "lock-black"), 'pages/login', :rel=>'facebox'			 	
					link_to "Sign in!", 'pages/login', :rel => 'facebox' %>
				<% end %>
					
			<a href="pages/login" rel='facebox'><img src="/images/icon-user.png" /></a>
			</h4>
			<p style="font-size: 12px; color: #FFF; font-weight: normal; line-height: 20%;">Not Registered? 
				<% if flash[:error_signup] %>
					<%= link_to "Sign Up!", 'users/new', :rel => 'facebox', :style => 'color:red'%>
				<%else%>
					<%= link_to "Sign Up!", 'users/new', :rel => 'facebox' %>
				<%end%>
			</p>
			
		<% end %>
	</div>
	</div>
	<div id="header" class="container">
		<div id="logo">
			<span class="icon icon-group"><img src="/images/box1_img4.png" />  
			<h1><a href="#">CaMS</a></h1></span>
			<span>Designed & Developed by <a href="#" rel="nofollow">BEETLE</a></span>
			<!--
			<div class="slider_wrapper">
				<ul class="items">
					<li>
						<img src="images/spacer.gif" alt="">
						<div class="caption banner">
							<h2>Let Us Show You the Way to Success</h2>
						</div>
					</li>
					<li>
						<img src="images/spacer.gif" alt="">
						<div class="caption banner">
							<h2>Interminable Energy for Your Project</h2>
						</div>
					</li>
					<li>
						<img src="images/spacer.gif" alt="">
						<div class="caption banner">
							<h2>We know how to solve your problems!</h2>
						</div>
					</li>
					<li>
						<img src="images/spacer.gif" alt="">
						<div class="caption banner">
							<h2>Make your business a booming one!</h2>
						</div>
					</li>
				</ul>
			</div>
			-->
		</div>
	</div>
</div>
<div id="menu-area">
	<div id="menu-wrapper">
		<div id="menu">
			<ul style="margin-bottom: 0px;">
				<li class="current_page_item"><a href="#" accesskey="1" title=""><img src="/images/home.png" /> Home</a></li>
				<li><a href="#" accesskey="2" title="">Gallery</a>
					<!--<ul>
						<li><a href="#">Our Staffs</a></li>
					</ul>-->
				</li>
				<li><a href="#" accesskey="3" title="">About Us</a></li>
				<li><a href="#" accesskey="4" title="">Food Menu</a></li>
				<li><a href="#" accesskey="5" title="">Contact Us</a></li>
			</ul>
		</div>
		
	</div>
	
	<div id="triangle-up"></div>
</div>

<div id="wrapper">
	<div id="featured-wrapper">
	
		<div class="extra2 container">
			<div class="ebox1">
				<div class="hexagon"><span class="icon icon-lightbulb"><img src="/images/twitter.png" /></span></div>
				<div class="title">
					<h2>Easy Payment! Easy Dealing!</h2>
					<span class="byline">Leave your phone number, we'll contact you and confirm your booking. </span>
				</div>
				<p><a href="#">CaMS(Catering Management System)</a> is easy dealing online catering booking system. We allow you the cash on event day or advance payment. We have <a href="#">eSewa</a>, <a href="#">Bank Transfer</a>, <a href="#">Online Banking Transfer</a> or Cash on Event Day. Just leave your phone number in our calender, we'll call you. No <a href="#">Registration</a> Required. Easy! Fast!! Reliable!!!</p>
				<a href="#" class="button">Read more...</a>
			</div>		

			<div class="ebox2">
				<div class="hexagon"><span class="icon icon-bullhorn"><img src="/images/set_icons/label48.png" /></span></div>
				<div class="title">
					<h2>Catering Management System(CaMS) | RoR Project</h2>
					<span class="byline">CaMS is developed in RoR platform.</span>
				</div>
				<p>Catering Management System(CaMS) is the online Catering Booking System. This system is facilated by embedded e-payment system.</p>
				<a href="#" class="button">Read More...</a>
			</div>		

		</div>	

	</div>
</div>

<div id="stamp" class="container">
	<div class="hexagon"><span class="icon icon-wrench"><img src="/images/set_icons/coffee48.png" /></span></div>
</div>
<div id="copyright" class="container">
	<p>Copyright (c) 2013. All rights reserved. | Design by <a href="#">Beetle</a>.</p>
</div>
</body>
</html>
