<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CaMS | Catering Management System</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<%= javascript_include_tag "jquery-1.7.1.min.js" %>
<%= javascript_include_tag "jquery.slidertron-1.3.js" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
<%= javascript_include_tag "jquery.sticky.js" %>
<%= javascript_include_tag "facebox.js" %>
<%= javascript_include_tag "tabs.js" %>
<%= stylesheet_link_tag "facebox.css" %>
  
  <script>
    $(window).load(function(){ 
      $("#menu-area").sticky({ topSpacing: 0 });
    });
  </script>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      	$('a[rel*=facebox]').facebox({
        	loadingImage : '/images/loader.gif',
        	closeImage   : '/images/closelabel.png'
      	})
    })
  </script>
  <style>

  	#panelButtons_Holder
  	{
  		z-index: 200;
  		float: right;
  		width: auto;
  		height: auto;
  		vertical-align: middle;
  		text-align: center;
  		line-height: .6em;
  		margin-top: 20px;
  		margin-right: 5px;
  		position: absolute;
  		
  	}
  	#panelButtons_Holder:hover
  	{
  		text-decoration: blink;

  	}

  	#panelButtons_Holder img
  	{
  		opacity: .6;
  	}
  	#panelButtons_Holder img:hover
  	{
  		opacity: 1.0;
  	}

    #menu-area
	{
		z-index: 50;		
		width: 100%;
		height: 72px;
		/**background-color: transparent**/
		background: '#334960';
		box-shadow: 0 8px 30px rgba(0,0,0,.2);
	}
	#sticky
	{
		width: auto;
		text-align: center; 
	}
	#sticky a
	{
		text-decoration: none;
		color: #fff;
	}
	#sticky a:hover
	{
		color: #fff000;
	}
	#sticky ul
	{
		text-decoration: none;
	}
	#sticky li
	{
		position: relative;
		margin-top: -15px;
		margin-left: 2px;
		margin-right: 2px;
	  	background: #334960 url('overlay.png') repeat;
      	font-family: Droid Sans;
      	font-size: 14.5px;
      	line-height: 2em;
      	font-weight: bold;
      	text-align: center;
      	padding-left: 20px;
      	padding-right: 20px;
      	padding-top: 10px;
      	padding-bottom: 0;
      	text-shadow: 0 1px 1px rgba(0,0,0,.2);
      	width: auto;
      	box-sizing:border-box;
      	box-shadow: 0px -25px 18px rgba(0,0,0,.2);
      	display: inline-block;
	}
	
	#sticky-wrapper
	{
		margin: 0 auto;
		width: 100%
	}

	
  </style>
  <style>
  	.caption h2
  	{
  		font-size: 60px;
  		color: #FFFFFF;
  	}
  	
  </style>



<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" %>
<%= stylesheet_link_tag "default.css" %>
<%= stylesheet_link_tag "fonts.css"%>

<%= javascript_include_tag "jquery.immersive-slider.js" %>
<%= javascript_include_tag "jquery.immersive-slider.min.js" %>
<%= stylesheet_link_tag "immersive-slider.css" %>


<script>
	$(document).ready( function() {
  	    $(".immersive_slider").immersive_slider({
  	      container: ".container"
  	    });
  	  });

	function setVisibility(id, visibility) {
		document.getElementById(id).style.display = visibility;
	}
</script>
<style>
	.immersive_slider .is-slide .content h2{
	      line-height: 140%;
	      font-weight: 100;
	      color: white;
	      font-weight: 100;
    }
    .immersive_slider .is-slide .content a {
     	 color: white;
     	 text-decoration: none;
    }
  
  	.immersive_slider .is-slide .content p
  	{
    	float: left;
    	font-weight: 100;
    	width: 100%;
	    font-size: 17px;
	    margin-top: 5px;
  	}
</style>

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
	
<div id="header-wrapper">
	<div id="sticky-wrapper" style="width:100%">
		<div id="sticky" style="margin-top: -41px;">
			<ul>
			<li>
				<h4>
					<a href="calender/full_calender" rel='facebox'><img src="/images/book_now_2.png" /></a><%= link_to "  Book Now! >>", 'calender/full_calender', :rel => 'facebox' %>
				</h4>
			</li>
			<li>
				<h4>
					<a href="#"><img src="/images/view_menu.png" /> View Menu!</a>
				</h4>
			</li>
			<li><h4><img src="/images/24x24/skype.png" /> Call Us: +977-00-0000000</h4></li>
			<li>
				<h4>Socials : 
				<a href="#" accesskey="1"><img src="/images/24x24/facebook.png" /></a>  
				<a href="#" accesskey="2"><img src="/images/24x24/twitter.png" /></a>  
				<a href="#" accesskey="3"><img src="/images/24x24/youtube.png" /></a>  
				<a href="#" accesskey="4"><img src="/images/24x24/flickr.png" /></a>  
				</h4>
			</li>
			<li>
				<h4>

					<% if flash[:error_feedback]%>
					<script type="text/javascript">
						alert("<%= flash[:notice_feedback]%>")
					</script>
					<a href="inquiries/new" rel="facebox"><img src="/images/24x24/email.png" /></a>
					<%= link_to "Feedback!", 'inquiries/new', :title => flash[:notice_feedback], :rel => :tooltip, :rel => 'facebox', :style => 'color:red' %>
					<% else %>
						<% if flash[:notice_feedback]%>
							<script type="text/javascript">
								alert("Thanks for your feedback!")
							</script>
						<%end%>
					<a href="inquiries/new" rel="facebox"><img src="/images/24x24/email.png" /></a>
					<%= link_to "Feedback!", 'inquiries/new', :rel => 'facebox' %>
					<% end %>
				</h4>
			</li>
			<li style="line-height: .1em;">
				<% if current_user %>
					<div style = "margin-top:10px"><%= link_to current_user.phone, 'welcome/profile', :rel => 'facebox' %></div>
			    	<hr /><%= link_to "Log out", logout_path %>
				<% else %>			
					<h4>
						<% if flash[:error]  %>					
					   		<script language="javascript">
					     		alert("Invalid username or password.\n    Hit <enter> to continue ");
					   		</script>
							<%= # link_to image_tag("lock-fatde.png", alt: "lock-black"), 'pages/login', :rel=>'facebox'			 	
								link_to "Sign in!", 'pages/login', :title => 'Invalid username or password', :rel => 'tooltip', :rel => 'facebox', :style => 'color:red'%>
						<% else %>
							<%= link_to "Sign in!", 'pages/login', :rel => 'facebox' %>
						<% end %>		
					
						<a href="pages/login" rel='facebox'><img src="/images/16x16/user.png" /></a>
					</h4>

					<p style="font-size: 12px; color: #FFF; font-weight: normal; line-height: 20%;">Not Registered?
						<% if flash[:error_captcha] %>
							<script type="text/javascript">
								alert("Captcha Verification Failed!")
							</script>
							<%= link_to "Sign Up!", 'users/new', :title => "captcha verification failed", :rel=>'tooltip', :rel => 'facebox', :style => 'color:red'%>
						
						<% elsif flash[:error_signup] %>			
							<script type="text/javascript">						  							  
						  			alert("<%= flash[:notice] %>")						  					
							</script>
					
							<%= link_to "Sign Up!", 'users/new', :title => flash[:notice], :rel=>'tooltip', :rel => 'facebox', :style => 'color:red'%>
						<% else %>
							<%= link_to "Sign Up!", 'users/new', :rel => 'facebox' %>
						<%end%>
					</p>
				<% end %>
			</li>
			</ul>
		</div>		
	</div>
</div>

<div id="header" class="container">
		<!--<div id="logo">
			
			<span class="icon icon-group"><img src="/images/box1_img4.png" />  
			<h1><a href="#">CaMS</a></h1></span>
			<span>Designed & Developed by <a href="#" rel="nofollow">BEETLE<img src="/images/beetle/beetle-18x16.png" /></a></span>
			
		</div>-->

		
		<!-- 	SLIDER START	-->
		
		<div class="immersive_slider" onmouseover="setVisibility('panelButtons_Holder', 'inline');" onmouseout="setVisibility('panelButtons_Holder', 'none');">
			<% if current_user and current_user.phone == '9800000000' %>					
			<div id="panelButtons_Holder" style="display: none;">
				<a href="#"><span style="color: #FFF; text-decoration: blink;"><img src="/images/16x16/tools.png" /> Settings</span></a>
			</div>	
			<%end%>
          <div class="slide" data-blurred="/img/transparent.png">
            <div class="content">
            	<h2><a href="#" target="_blank">Beetle<img src="/images/beetle/beetle-18x16.png"/> Developers</a></h2>
              	<p>Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo.
              	Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo. Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo. Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo.</p>
            </div>
            <div class="image">
              <a href="#" target="_blank">
                <img src="/img/food1.jpg" alt="Slider 1">
              </a>
            </div>
          </div>
          <div class="slide" data-blurred="/img/transparent.png">
            <div class="content">
              	<h2><a href="#" target="_blank">RoR WebApps</a></h2>
              	<p>Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo.
              	Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo. Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo. Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo.</p>
            </div>
            <div class="image">
             	<a href="#" target="_blank"> <img src="/img/food2.jpg" alt="Slider 2"></a>
            </div>
          </div>
          <div class="slide" data-blurred="/img/transparent.png">
            <div class="content">
              <h2><a href="#" target="_blank">Beetle<img src="/images/beetle/beetle-18x16.png" /> Firm</a></h2>
              <p>Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo.
              Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo. Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo. Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo.</p>
            </div>
            <div class="image">
              <a href="#" target="_blank"><img src="/img/food3.jpg" alt="Slider 3"></a>
            </div>
          </div>
          <div class="slide" data-blurred="/img/transparent.png">
            <div class="content">
              <h2><a href="#" target="_blank">Beetle<img src="/images/beetle/beetle-18x16.png" /> Firm</a></h2>
              <p>Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo.
              Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo. Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo. Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo.</p>
            </div>
            <div class="image">
              <a href="#" target="_blank"><img src="/img/food4.jpg" alt="Slider 4"></a>
            </div>
          </div>
          <a href="#" class="is-prev">&laquo;</a>
          <a href="#" class="is-next">&raquo;</a>
        </div>
      </div>
  	</div>
  	<div class="benefits">
      <div class="page_container">
  	  </div>
  	</div>

		<!-- 	SLDIER END 		-->
</div>

<div id="menu-area">
	<div id="menu-wrapper">
		<div id="menu">
			<ul style="margin-bottom: 0px;">
				<li class="current_page_item"><a href="#" accesskey="1" title=""><img src="/images/home.png" /> Home</a></li>
				<li><a href="#" accesskey="2" title="">Gallery</a>
					<!--<ul>
						<li><a href="#">Our Staffs</a></li>
					</ul>-->
				</li>
				<li><a href="#" accesskey="3" title="">About Us</a></li>
				<li><a href="#" accesskey="4" title="">Contact Us</a></li>
			</ul>
		</div>	
	</div>
	<div id="triangle-up"></div>
</div>

<div id="wrapper">
	<div id="featured-wrapper">
	
		<div class="extra2 container">
			<div class="ebox1">
				<div class="title">
					<h2>Easy Payment! Easy Dealing!</h2>
					<span class="byline">Leave your phone number, we'll contact you and confirm your booking. </span>
				</div>
				<p><a href="#">CaMS(Catering Management System)</a> is easy dealing online catering booking system. We allow you the cash on event day or advance payment. We have <a href="#">eSewa</a>, <a href="#">Bank Transfer</a>, <a href="#">Online Banking Transfer</a> or Cash on Event Day. Just leave your phone number in our calender, we'll call you. No <a href="#">Registration</a> Required. Easy! Fast!! Reliable!!!</p>
				<a href="#" class="button">Read more...</a>
			</div>		

			<div class="ebox2">
				<div class="title">
					<h2>Catering Management System(CaMS) | RoR Project</h2>
					<span class="byline">CaMS is developed in RoR platform.</span>
				</div>
				<p>Catering Management System(CaMS) is the online Catering Booking System. This system is facilated by embedded e-payment system.</p>
				<a href="#" class="button">Read More...</a>
			</div>		

		</div>	

	</div>
</div>
<div id="stamp" class="container" >
	<h4 style="text-align: center; color: #FFFFFF; line-height: 8em; text-weight: 100px; opacity: .5;">CaMS</h4>
</div>
<div id="copyright" class="container">
	<p>Copyright (c) 2013. All rights reserved. | Design and Developed by <a href="#">Beetle
	<img src="/images/beetle/beetle-18x16.png"/></a>.
	</p>
</div>
</body>
</html>
