<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<%= javascript_include_tag "jquery-1.7.1.min.js" %>
<%= javascript_include_tag "jquery.slidertron-1.3.js" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
<%= javascript_include_tag "jquery.sticky.js" %>
<%= javascript_include_tag "facebox.js" %>
<%= stylesheet_link_tag "facebox.css" %>
  <% #<script type="text/javascript" src="jquery.sticky.js"></script> %>
  <script>
    $(window).load(function(){
      $("#menu-area").sticky({ topSpacing: 0 });
    });
    
  </script>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox({
        loadingImage : '/images/loading.gif',
        closeImage   : '/images/closelabel.png'
      })
    })
  </script>
  <style>
    #menu-area
	{
		z-index: 50;		
		width: 100%;
		height: 72px;
		/**background-color: transparent**/
		background: '#3D3D3D';
	}
	#sticky-login
	{
	  	background: #bada55;
      	color: white;
      	font-family: Droid Sans;
      	font-size: 16px;
      	line-height: 1.6em;
      	font-weight: bold;
      	text-align: center;
      	padding: 5px;
      	text-shadow: 0 1px 1px rgba(0,0,0,.2);
      	width: 110px;
      	margin-top: -27px;
      	float: right;
      	box-sizing:border-box;
      	z-index: 200;
	}
  </style>
<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" %>
<%= stylesheet_link_tag "default.css" %>
<%= stylesheet_link_tag "fonts.css"%>

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
								<%#=  link_to image_tag("lock-black.png", alt: "lock-black"), '#' %>
			<a href="#"><div id="LogInButton"></div></a>
			
			<% #<span class="icon icon-group"></span> %>
			<h1><a href="#">Catering</a></h1>
			<span>Template Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a></span> </div>
		</div>
	</div>
</div>
<div id="menu-area">
	<div id="menu-wrapper">
		<div id="menu">
			<ul style="margin-bottom: 0px;">
				<li class="current_page_item"><a href="#" accesskey="1" title="">Home</a></li>
				<li><a href="#" accesskey="2" title="">Gallery</a>
					<!--<ul>
						<li><a href="#">Our Staffs</a></li>
					</ul>-->
				</li>
				<li><a href="calender/full_calender" rel="facebox" accesskey="3" title="">About Us</a></li>
				<li><a href="#" accesskey="4" title="">Food Menu</a></li>
				<li><a href="#" accesskey="5" title="">Contact Us</a></li>
			</ul>
		</div>
		
	</div>
	<div id="triangle-up"></div>
	<div id="sticky-login" >
	<% if current_user %>
		<%= current_user.phone %>
		<%= link_to "Log out", logout_path %>
	<%else%>
	
	<a href="pages/login" rel="facebox">Login!</a>
	<% end %>
</div>
</div>

<div id="wrapper">
	<div id="featured-wrapper">
	
		<div class="extra2 container">
			<div class="ebox1">
				<!--<div class="hexagon"><span class="icon icon-lightbulb"></span></div>
				<div class="title">
					<h2>Fusce ultrices fringilla</h2>
					<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
				</div>
				<p>This is <strong>Plushiness</strong>, a free, fully standards-compliant CSS template designed by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>. The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. This free template is released under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attributions 3.0</a> license, so you are pretty much free to do whatever you want with it (even use it commercially) provided you keep the links in the footer intact. Aside from that, have fun with it :) </p>
				<a href="#" class="button">Etiam posuere</a>-->
			</div>		

			<div class="ebox2">
				<div class="hexagon"><span class="icon icon-bullhorn"></span></div>
				<div class="title">
					<h2>Donec dictum metus</h2>
					<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
				</div>
				<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo. Pellentesque imperdiet.</p>
				<a href="#" class="button">Etiam posuere</a>
			</div>		

		</div>	

	</div>
</div>
<div id="stamp" class="container">
	<div class="hexagon"><span class="icon icon-wrench"></span></div>
</div>
<div id="copyright" class="container">
	<p>Copyright (c) 2013 Sitename.com. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>
</body>
</html>
