<%= render :partial => 'header/header' %>

<body>
	
<div id="header-wrapper">
	<div id="sticky-wrapper" style="width:100%">
		<div id="sticky" style="margin-top: -41px;">
			<ul>
			<li>
				<h4>
					<a href="calender/full_calender" rel='facebox'><span class="icon icon-shopping-cart"></span></a><%= link_to "  Book Now! >>", 'calender/full_calender', :rel => 'facebox' %>
				</h4>
			</li>
			<li>
				<h4>
					<a href="menu/menu" target="_blank"><span class="icon icon-pencil"></span></a>
					<%= link_to "View Menu!", 'menu/menu', :target => '_blank' %>
				</h4>
			</li>
			<li><h4><span class="icon icon-skype"> Call Us: +977-00-0000000</span></h4></li>
			<li>
				<h4>Socials : 
				<a href="#" accesskey="1"> <span class="icon icon-facebook"> </span></a>  
				<a href="#" accesskey="2"> <span class="icon icon-twitter"> </span></a>  
				<a href="#" accesskey="3"> <span class="icon icon-youtube"> </span></a>  
				<a href="#" accesskey="4"> <span class="icon icon-flickr"> </span></a>
				</h4>
			</li>
			<li>
				<h4>

					<% if flash[:error_feedback]%>
					<script type="text/javascript">
						alert("<%= flash[:notice_feedback]%>")
					</script>
					<a href="inquiries/new" rel="facebox"><span class="icon icon-comment"></span></a>
					<%= link_to "Feedback!", 'inquiries/new', :title => flash[:notice_feedback], :rel => :tooltip, :rel => 'facebox', :style => 'color:red' %>
					<% else %>
						<% if flash[:notice_feedback]%>
							<script type="text/javascript">
								alert("Thanks for your feedback!")
							</script>
						<%end%>
					<a href="inquiries/new" rel="facebox"><span class="icon icon-comment"></span></a>
					<%= link_to "Feedback!", 'inquiries/new', :rel => 'facebox' %>
					<% end %>
				</h4>
			</li>
			<li style="line-height: .1em; padding-top: 20px; padding-bottom: 20px;">
				<% if current_user %>
					<% if current_user.phone == '9800000000'%>
						<div style = "margin-top:10px"><%= link_to "users", 'users/show', :rel => 'facebox' %></div>
					<%else%>
						<div style = "margin-top:15px"><h4><span class="icon icon-user"> </span><%= link_to current_user.name, 'welcome/profile', :rel => 'facebox' %></h4>						
					<%end%>
			    	<h4 style="font-size: 12px; color: #FFF; font-weight: normal; line-height: 20%;"><span class="icon icon-signout"></span><%= link_to "Log out", logout_path %></h4>
					
			    	
			    	</div>
				<% else %>			
					<h4>
						<% if flash[:error]  %>					
					   		<script language="javascript">
					     		alert("Invalid username or password.\n    Hit <enter> to continue ");
					   		</script>
							<%= # link_to image_tag("lock-fatde.png", alt: "lock-black"), 'pages/login', :rel=>'facebox'			 	
								link_to "Sign in!", 'pages/login', :title => 'Invalid username or password', :rel => 'tooltip', :rel => 'facebox', :style => 'color:red'%>
						<% else %>
							<%= link_to "Sign in!", 'pages/login', :rel => 'facebox' %>
						<% end %>		
					
						<a href="pages/login" rel='facebox'><span class="icon icon-signin"></span></a>
					</h4>

					<p style="font-size: 12px; color: #FFF; font-weight: normal; line-height: 20%;">Not Registered?
						<% if flash[:error_captcha] %>
							<script type="text/javascript">
								alert("Captcha Verification Failed!")
							</script>
							<%= link_to "Sign Up!", 'users/new', :title => "captcha verification failed", :rel=>'tooltip', :rel => 'facebox', :style => 'color:red'%>
						
						<% elsif flash[:error_signup] %>			
							<script type="text/javascript">						  							  
						  			alert("<%= flash[:notice] %>")						  					
							</script>
					
							<%= link_to "Sign Up!", 'users/new', :title => flash[:notice], :rel=>'tooltip', :rel => 'facebox', :style => 'color:red'%>
						<% else %>
							<%= link_to "Sign Up!", 'users/new', :rel => 'facebox' %>
						<%end%>
					</p>
				<% end %>
			</li>
			</ul>
		</div>		
	</div>
</div>

<div id="header" class="container">
		<!--<div id="logo">
			
			<span class="icon icon-group"><img src="/images/box1_img4.png" />  
			<h1><a href="#">CaMS</a></h1></span>
			<span>Designed & Developed by <a href="#" rel="nofollow">BEETLE<img src="/images/beetle/beetle-18x16.png" /></a></span>
			
		</div>-->

		
		<!-- 	SLIDER START	-->
		
		<div class="immersive_slider" onmouseover="setVisibility('panelButtons_Holder', 'inline');" onmouseout="setVisibility('panelButtons_Holder', 'none');">
			<% if current_user and current_user.phone == '9800000000' %>					
			<div id="panelButtons_Holder" style="display: none;">
				<a href="#"><span style="color: #FFF; text-decoration: blink;"><img src="/images/16x16/tools.png" /> Settings</span></a>
			</div>	
			<%end%>
          <div class="slide" data-blurred="/img/transparent.png">
            <div class="content">
            	<h2><a href="#" target="_blank">Beetle<img src="/images/beetle/beetle-18x16.png"/> Developers</a></h2>
              	<p>Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo.
              	Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo. Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo. Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo.</p>
            </div>
            <div class="image">
              <a href="#" target="_blank">
                <img src="/img/food1.jpg" alt="Slider 1">
              </a>
            </div>
          </div>
          <div class="slide" data-blurred="/img/transparent.png">
            <div class="content">
              	<h2><a href="#" target="_blank">RoR WebApps</a></h2>
              	<p>Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo.
              	Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo. Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo. Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo.</p>
            </div>
            <div class="image">
             	<a href="#" target="_blank"> <img src="/img/food2.jpg" alt="Slider 2"></a>
            </div>
          </div>
          <div class="slide" data-blurred="/img/transparent.png">
            <div class="content">
              <h2><a href="#" target="_blank">Beetle<img src="/images/beetle/beetle-18x16.png" /> Firm</a></h2>
              <p>Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo.
              Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo. Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo. Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo.</p>
            </div>
            <div class="image">
              <a href="#" target="_blank"><img src="/img/food3.jpg" alt="Slider 3"></a>
            </div>
          </div>
          <div class="slide" data-blurred="/img/transparent.png">
            <div class="content">
              <h2><a href="#" target="_blank">Beetle<img src="/images/beetle/beetle-18x16.png" /> Firm</a></h2>
              <p>Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo.
              Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo. Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo. Nunc non venenatis mi. Proin ut adipiscing dolor, et commodo.</p>
            </div>
            <div class="image">
              <a href="#" target="_blank"><img src="/img/food4.jpg" alt="Slider 4"></a>
            </div>
          </div>
          <a href="#" class="is-prev">&laquo;</a>
          <a href="#" class="is-next">&raquo;</a>
        </div>
      </div>
  	</div>
  	<div class="benefits">
      <div class="page_container">
  	  </div>
  	</div>

		<!-- 	SLDIER END 		-->
</div>

<%= render :partial => 'navigation/navigation' %>

<div id="wrapper">
	<div id="featured-wrapper">
	
		<div class="extra2 container">
			<div class="ebox1">
				<div class="title">
					<h2>Easy Payment! Easy Dealing!</h2>
					<span class="byline">Leave your phone number, we'll contact you and confirm your booking. </span>
				</div>
				<p><a href="#">CaMS(Catering Management System)</a> is easy dealing online catering booking system. We allow you the cash on event day or advance payment. We have <a href="#">eSewa</a>, <a href="#">Bank Transfer</a>, <a href="#">Online Banking Transfer</a> or Cash on Event Day. Just leave your phone number in our calender, we'll call you. No <a href="#">Registration</a> Required. Easy! Fast!! Reliable!!!</p>
				<a href="#" class="button">Read more...</a>
			</div>		

			<div class="ebox2">
				<div class="title">
					<h2>Catering Management System(CaMS) | RoR Project</h2>
					<span class="byline">CaMS is developed in RoR platform.</span>
				</div>
				<p>Catering Management System(CaMS) is the online Catering Booking System. This system is facilated by embedded e-payment system.</p>
				<a href="#" class="button">Read More...</a>
			</div>		

		</div>	

	</div>
</div>

<%= render :partial => 'footer/footer' %>