<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%= javascript_include_tag "facebox.js" %>
	<%= stylesheet_link_tag "facebox.css" %>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" %>
	<%= stylesheet_link_tag "default.css" %>
	<%= stylesheet_link_tag "fonts.css"%>
	<%= stylesheet_link_tag "profile.css"%>
	<style type="text/css">
	
	#profile {
		width: 400px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
	}
	body, h3 {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 100;
	}
	label, p {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 100;
		text-align: left;
		color: #FFF;
		font-size: 12px;
	}
	</style>
	<ruby>
		
	</ruby>
</head>
<body>
<%= render :partial => 'banner/banner' %>
	<div id ="profile">	
			<h3 style="color: #FFF; font-size: 20px;">Personal Details </h3><hr />
			<%= image_tag current_user.photo.url(:small) %></br>
			<%= current_user.name %></br>
			<%= current_user.email %></br>
			<%= current_user.phone %></br>
			<div id="custom_button">
				<%= link_to "edit", edit_welcome_path(current_user)%>
			</div>
	</div>
</body>
</html>
			
