<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%= javascript_include_tag "facebox.js" %>
	<%= stylesheet_link_tag "facebox.css" %>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" %>
	<%= stylesheet_link_tag "default.css" %>
	<%= stylesheet_link_tag "fonts.css"%>
	
	<ruby>
		
	</ruby>
</head>
<body>
	<div>
		<%= form_tag pages_path do %>
		<table>					
			<tr>
				<h2>Create a new account</h2>		
			</tr>
			<tr>
				<p>It's simple, and free.</p>		
			</tr>
			<tr>
				<th><%= label_tag :phone %><br /></th>
				<th><%= text_field_tag :phone, params[:phone] %></th>
			</tr>
			<tr>
				<th><%= label_tag :password %><br /></th>
				<th><%= password_field_tag :password %></th>
			</tr>
			<tr>
				<th>
					<%= submit_tag "Log in" %>
				</th>
			</tr>
		</table>
		<% end %>
	</div>
</body>
</html>

