<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%= javascript_include_tag "facebox.js" %>
	<%= stylesheet_link_tag "facebox.css" %>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" %>
	<%= stylesheet_link_tag "default.css" %>
	<%= stylesheet_link_tag "fonts.css"%>
</head>
<body>
	<h2>Create a new account</h2>
	<p>It's simple, and free.</p>
	<h1>Login</h1>
	<%= form_tag sessions_path do %>
		<p>
			<%= label_tag :phone %><br />
			<%= text_field_tag :phone, params[:phone] %>
		</p>
		<p>
			<%= label_tag :password %><br />
			<%= password_field_tag :password %>
		</p>
		<p class="button"><%= submit_tag "Log in" %></p>
	<% end %>
</body>
</html>

