<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%= javascript_include_tag "facebox.js" %>
	<%= stylesheet_link_tag "facebox.css" %>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" %>
	<%= stylesheet_link_tag "default.css" %>
	<%= stylesheet_link_tag "fonts.css"%>
</head>
	<h2>Create a new account</h2>
	<p>It's simple, and free.</p>
	<form>
	<table>
	<tr>
		<label for="">Username</label>
		<input id="" name="" type="text">
		<label for="">Email address</label>
		<input id="" name="" type="text">
		<label for="">Password</label>
		<input id="" name="" type="text">
		<button type="submit">Sign Up »</button>
	</table>
	</form>
</body>
</html>

