<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%= javascript_include_tag "facebox.js" %>
	<%= stylesheet_link_tag "facebox.css" %>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" %>
	<%= stylesheet_link_tag "default.css" %>
	<%= stylesheet_link_tag "fonts.css"%>
	
	<ruby>
		
	</ruby>
	<style type="text/css">
		body {
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 100;
		}
		#login-wrapper label, #login-wrapper p {
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 100;
			text-align: left;
			color: #FFF;
		}
		#login-wrapper {
			margin-right: auto;
			margin-left: auto;
			margin-top: 50px;
			width: 470px;
		}
		form {
			/*margin: 50px 31%;*/
		}
	</style>
</head>
<%= render :partial => 'banner/banner' %>
<body>
<div>
	<div id="login-wrapper">
		<%= form_tag pages_path do %>
		<table>					
			<tr>
				<h3 style="color: #FFF; font-size: 20px;">Sign in!</h3>		
				<hr /><br />
			</tr>
			<tr>
				<th style="text-align: left;"><%= label_tag :phone %></th>
				<th><%= text_field_tag :phone, params[:phone] %></th>
			</tr>
			<tr>
				<th style="text-align: left;"><%= label_tag :password %></th>
				<th><%= password_field_tag :password %></th>
			</tr>
		</table>
		<div style="width: 75px; margin-left: auto; margin-right: auto;">
		<%= submit_tag "Log in" %>
		</div>
		<% end %>
	</div>
	</div>
</body>
</html>

