<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CaMS | Catering Management System</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<%= javascript_include_tag "jquery-1.7.1.min.js" %>
<%= javascript_include_tag "//code.jquery.com/jquery-1.10.2.js" %>
<%= javascript_include_tag "jquery.slidertron-1.3.js" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
<%= javascript_include_tag "jquery.sticky.js" %>
<%= javascript_include_tag "facebox.js" %>
<%= javascript_include_tag "tabs.js" %>
<%= stylesheet_link_tag "facebox.css" %>

<%= stylesheet_link_tag "style.css" %>
<%= javascript_include_tag "modernizr.custom.79639.js" %>
  
  <script>
    $(window).load(function(){ 
      $("#menu-area").sticky({ topSpacing: 0 });
    });
  </script>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      	$('a[rel*=facebox]').facebox({
        	loadingImage : '/images/loader.gif',
        	closeImage   : '/images/closelabel.png'
      	})
    })
  </script>
  <style>

  	#panelButtons_Holder
  	{
  		z-index: 200;
  		float: right;
  		width: auto;
  		height: auto;
  		vertical-align: middle;
  		text-align: center;
  		line-height: .6em;
  		margin-top: 20px;
  		margin-right: 5px;
  		position: absolute;
  		
  	}
  	#panelButtons_Holder:hover
  	{
  		text-decoration: blink;

  	}

  	#panelButtons_Holder img
  	{
  		opacity: .6;
  	}
  	#panelButtons_Holder img:hover
  	{
  		opacity: 1.0;
  	}

    #menu-area
	{
		z-index: 50;		
		width: 100%;
		height: 55px;
		/**background-color: transparent**/
		background: '#551950';
		/*box-shadow: 0 8px 30px rgba(0,0,0,.2);*/
	}
	#sticky
	{
		width: auto;
		text-align: center;
	}
	#sticky a, #sticky p
	{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
		text-decoration: none;
    text-transform: uppercase;
		color: #fff;
	}
	#sticky a:hover, #sticky p:hover
	{
	   font-weight: 300;
	}
	#sticky ul
	{
		text-decoration: none;
	}
	#sticky li
	{
		position: relative;
		margin-top: -25px;
	  background: #551950 url('overlay.png') repeat;
    line-height: 6em;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 0;
    /*text-shadow: 0 1px 1px rgba(0,0,0,.2);*/
    width: auto;
    /*box-shadow: 0px -25px 18px rgba(0,0,0,.2);*/
    display: inline-block;
    vertical-align: text-bottom;
    height: 100px;
	}
	
	#sticky-wrapper
	{
		margin: 0 auto;
		width: 100%
	}

	
  </style>
  <style>
  	.caption h2
  	{
  		font-size: 60px;
  		color: #FFFFFF;
  	}
  	
  </style>

<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" %>
<%= stylesheet_link_tag "default.css" %>
<%= stylesheet_link_tag "fonts.css"%>

<%= javascript_include_tag "jquery.immersive-slider.js" %>
<%= javascript_include_tag "jquery.immersive-slider.min.js" %>
<%= stylesheet_link_tag "immersive-slider.css" %>


<script>
	$(document).ready( function() {
  	    $(".immersive_slider").immersive_slider({
  	      container: ".container"
  	    });
  	  });

	function setVisibility(id, visibility) {
		document.getElementById(id).style.display = visibility;
	}

  function pageScrollDown(id1, id2, visibility1, visibility2) {
      window.scrollTo(0, 630)
      // horizontal and vertical scroll increments
      //scrolldelay = setTimeout('pageScroll()',100); // scrolls every 100 milliseconds
      document.getElementById(id1).style.display = visibility1;
      document.getElementById(id2).style.display = visibility2;
  }
  function pageScrollUp(id1, id2, visibility1, visibility2) {
    window.scrollTo(0,0); // horizontal and vertical scroll increments
      //scrolldelay = setTimeout('pageScroll()',100); // scrolls every 100 milliseconds
      document.getElementById(id1).style.display = visibility1;
      document.getElementById(id2).style.display = visibility2;
      
  }
</script>
<style>
	.immersive_slider .is-slide .content h2{
	      line-height: 140%;
	      font-weight: 100;
	      color: white;
	      font-weight: 100;
    }
    .immersive_slider .is-slide .content a {
     	 color: white;
     	 text-decoration: none;
    }
  
  	.immersive_slider .is-slide .content p
  	{
    	float: left;
    	font-weight: 100;
    	width: 100%;
	    font-size: 17px;
	    margin-top: 5px;
  	}

    #scroll-down
    {
      float: right;
      width: auto;
      /*background: none repeat scroll 0 0 #192441;*/
      color: #FFFFFF;
      font-size: 14px;
      margin-top: -45px;
      padding: 10px;
      opacity: .7;
      cursor: hand;
      cursor: pointer;
      margin-right: 20px;
    }
    #scroll-down:hover
    {
      opacity: 1.0;
    }
    #scroll-up
    {
      float: right;
      width: auto;
      /*background: none repeat scroll 0 0 #192441;*/
      color: #FFFFFF;
      font-size: 14px;
      margin-top: -45px;
      padding: 10px;
      opacity: .7;
      cursor: hand;
      cursor: pointer;
      margin-right: 20px;
    }
    #scroll-up:hover
    {
      opacity: 1.0;
    }


</style>

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>