<!DOCTYPE html>
<html>
<head>
  <title>Catering Management System</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :defaults%>
  <%= csrf_meta_tags %>
  <!--<link type="image/x-icon" rel="icon" href="/images/beetle/beetle-18x16.png"/>-->
</head>
<body>





<% #flash.each do |name, msg|%>
	<%#= content_tag :div, msg, :id => "flash_#{name}"%>
	<% #end %>

<%= yield %>

</body>
</html>
